
<section>
  <div class='contacts'>
    <a href='mailto:{{ site.email }}' rel='tooltip' title='{{ site.email }}'><i class='icon-envelope-alt'></i></a>
    <a href='http://twitter.com/{{ site.twitter_user }}' title='@{{ site.twitter_user }}'><i class='icon-twitter'></i></a>
    <a href='http://github.com/{{ site.github_user }}' title='github'><i class='icon-github'></i></a>
    <a href='http://linkedin.com/in/{{ site.linkedin_user }}' title='linkedin'><i class='icon-linkedin'></i></a>
  </div>
</section>
